{% comment %}
	{% render 'c-email-capture',
		class: 'cr-white p-center',
		klaviyo_list_id: section.settings.klaviyo_list_id,
		source: 'Password Gate',
		heading: section.settings.email_capture_heading,
		success_message: section.settings.email_capture_success_message %}

	- to be added into </head>
	{{ "//www.klaviyo.com/media/js/public/klaviyo_subscribe.js" | script_tag }}
{% endcomment %}

{%- liquid
	assign uniq_range = 9999999 | minus: 1
	assign uniq_id = 'now' | date: '%N' | modulo: uniq_range | plus: 1
-%}

<form
	id="{{ uniq_id }}-email-capture"
	class="c-email-capture {{ class }}"
	data-success-message="
		{{- success_message
		| default: 'Success! Thank you for signing up.' | escape -}}
	"
	action="//manage.kmail-lists.com/subscriptions/subscribe"
	data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe"
	method="GET"
	target="_blank"
	novalidate="novalidate"
>
	{% if heading and heading != blank %}
		<h3>{{ heading }}</h3>
	{% endif %}

	<input type="hidden" name="g" value="{{ klaviyo_list_id }}">

	<div class="c-field">
		<label
			class="screen-reader-only"
			for="{{ uniq_id }}-email-capture-email"
		>
			Email</label
		>

		<input
			id="{{ uniq_id }}-email-capture-email"
			type="email"
			name="email"
			placeholder="Email"
		>
	</div>

	<div class="c-field">
		<label
			class="screen-reader-only"
			for="{{ uniq_id }}-email-capture-phone-number"
		>
			Phone Number (optional)</label
		>
		<input
			id="{{ uniq_id }}-email-capture-phone-number"
			type="email"
			name="phone_number"
			placeholder="Phone Number (optional)"
		>
	</div>

	<button
		type="submit"
	>
		Sign Up
	</button>
</form>

<script type="text/javascript">
	KlaviyoSubscribe.attachToForms('#{{ uniq_id }}-email-capture', {
		hide_form_on_success: true,
		extra_properties: {
			$source: '{{ source }}',
		},
		success: function (data) {
			let _newsletterForm = document.getElementById(
				'{{ uniq_id }}-email-capture'
			);
			_newsletterForm.classList.add('is-success');
		},
	});
</script>
