{%- comment -%}
	{% render 'c-item-price',
		item: product,
		regular_price_adj: number,
		skip_price_update: boolean,
		hide_trailing_zeros: boolean,
		is_show_price_range: false %}

	- item: product or variant object
	- regular_price_adj: adjustment to regular price, in percentage
	- skip_price_update: if true, price will not be updated on variant selection
	- is_show_price_range: show price range, defaults to minumum price
{%- endcomment -%}
{%- liquid
	assign currency_count = shop.enabled_currencies | size

	if item.variants
		assign price_min = item.price_min
		assign price_max = item.price_max
		assign price_compare = item.compare_at_price_max

	elsif item.key
		assign price_min = item.price
		assign price_max = item.price
		assign price_compare = item.variant.compare_at_price

	else
		assign price_min = item.price
		assign price_max = item.price
		assign price_compare = item.compare_at_price
	endif

	if regular_price_adj
		assign price_min = price_min | times: regular_price_adj
		assign price_max = price_max | times: regular_price_adj
	endif
-%}

<span
	class="c-item-price f-h f-j-s f-a-c"
	{%- if regular_price_adj -%}
		data-regular-price-adj="{{- regular_price_adj -}}"
	{%- endif -%}
>
	{%- if price_min != price_max and is_show_price_range == true -%}
		<span class="c-item-price--range">
			{%- if currency_count > 1 -%}
				{%- if hide_trailing_zeros == true -%}
					{{- price_min | money_without_currency_trailing_zeros -}}
					—
					{{- price_max | money_without_currency_trailing_zeros -}}
				{%- else -%}
					{{- price_min | money_with_currency -}}
					—
					{{- price_max | money_with_currency -}}
				{%- endif -%}
			{%- else -%}
				{%- if hide_trailing_zeros == true -%}
          {{- price_min | money_without_trailing_zeros -}}
          —
          {{- price_max | money_without_trailing_zeros -}}
        {%- else -%}
          {{- price_min | money -}}
          —
          {{- price_max | money -}}
        {%- endif -%}
			{%- endif -%}
		</span>
	{%- else %}
		<span class="c-item-price--regular js-price-regular{% if skip_price_update == true %} js-not-update-price{% endif %}">
			{%- if currency_count > 1 -%}
				{%- if hide_trailing_zeros == true -%}
          {{- price_min | money_without_currency_trailing_zeros -}}
        {%- else -%}
          {{- price_min | money_with_currency -}}
        {%- endif -%}
			{%- else -%}
				{%- if hide_trailing_zeros == true -%}
          {{- price_min | money_without_trailing_zeros -}}
        {%- else -%}
          {{- price_min | money -}}
        {%- endif -%}
			{%- endif -%}
		</span>
	{%- endif %}
	
	{%- if item.selling_plan_allocation -%}
		{%- assign recharge_line = item.selling_plan_allocation.selling_plan -%}
		{% if recharge_line.price_adjustments and recharge_line.price_adjustments[0].value_type == 'percentage' %}
			{% assign discount_percent = recharge_line.price_adjustments[0].value | plus: 0 %}
			{% assign discount_fraction = discount_percent | divided_by: 100 %}
			{% assign one_minus_discount = 1 | minus: discount_fraction %}
			{% assign full_price = item.final_price | divided_by: one_minus_discount %}
		  
			<p class="cart-item__price original-price">
			  <s>{{ item.selling_plan_allocation.compare_at_price | money }}</s>
			</p>
		{% endif %}
	{%- else -%}
		{%- if item.discounts.size > 0 -%}
			<p class="cart-item__price original-price">
				<s>{{ item.original_price | money }}</s>
			</p>
		{%- endif -%}
	{%- endif -%}
	<s class="c-item-price--compare js-price-compare">
		{%- if price_compare != blank and price_compare != price_max -%}
      {%- if currency_count > 1 -%}
        {%- if hide_trailing_zeros == true -%}
          {{- price_compare | money_without_currency_trailing_zeros -}}
        {%- else -%}
          {{- price_compare | money_with_currency -}}
        {%- endif -%}
      {%- else -%}
        {%- if hide_trailing_zeros == true -%}
          {{- price_compare | money_without_trailing_zeros -}}
        {%- else -%}
          {{- price_compare | money -}}
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
	</s>
</span>
