{% comment %}
	{%- render 'c-its',
		heading: string,
		paragraph: string,
		cta_label: string,
		cta_url: url,
		selected_media_type: string,
		image: image,
		image_mobile: image_mobile,
		video: video,
		video_url: url
	-%}
{% endcomment %}

<div class="c-its f-h f-a-c {{ content_align }} section-{{ section.id }}">
	{%- if cta_label != blank and cta_url != blank -%}
		<a
			class="c-its__cta btn mobile-down-only"
			href="{{- cta_url -}}"
		>
			<span>{{- cta_label -}}</span>
		</a>
	{%- endif -%}

	{%- if selected_media_type != null -%}
		<div class="c-its__media bg-subtle">
			<span class="object-fit">
				{%- render 'c-media',
					selected_media_type: selected_media_type,
					image: image,
					responsive_image: image_mobile,
					video: video,
					video_url: video_url
				-%}
			</span>
		</div>
	{%- endif -%}

	<div class="c-its__content f-v">
		{%- if heading != blank -%}
			<h2 class="c-its__heading t-h-1">
				{{ heading }}
			</h2>
		{%- endif -%}

		{%- if paragraph != blank -%}
			{{ paragraph }}
		{%- endif -%}
		{%- if note != blank -%}
			<div class="c-its__note --t-h-4">{{ note }}</div>
		{%- endif -%}
		{%- if product_url != blank and cta_label != blank -%}
			<div class="product-hero__form simple-product-form">
				{% render 'simple-product-form', product: product_url, item: product_url, is_update_variant_url: true, cta_label: cta_label, button_class: ' cr-orange', code: code  %}
			</div>
		{%- else -%}
			{%- if cta_label != blank and cta_url != blank -%}
				<a
					class="c-its__cta btn mobile-up-only"
					href="{{- cta_url -}}"
				>
					<span>{{- cta_label -}}</span>
				</a>
			{%- endif -%}
		{%- endif -%}
	</div>
</div>
