{%- comment -%}
	{% render 'c-product-form',
		item: product,
		is_update_variant_url: true,
		is_update_variant_disabled_state: true %}

	- item: product object
	- is_update_variant_url: upon variant selection, update URL param (e.g. ?variant=xxxx)
	- is_update_variant_disabled_state: upon variant selection, disable sold out state
{%- endcomment -%}
{%- liquid
	assign selected_variant = product.selected_or_first_available_variant
	assign is_default_to_subscription = true
	assign subscription = item.selling_plan_groups
	assign subscription_price_adj = subscription[0].selling_plans[0].price_adjustments[0].value
	assign subscription_info = section.settings.subscription_info
	assign one_time_info = section.settings.one_time_info

	if is_default_to_subscription
		assign subscription_price_adj_perc = 100 | minus: subscription_price_adj | divided_by: 100.00
	endif
-%}

<form
	class="c-product-form"
	action="{{- routes.cart_add_url -}}"
	method="post"
	enctype="multipart/form-data"
	data-available="{{- selected_variant.available -}}"
	data-update-variant-url="{{- is_update_variant_url | default: false -}}"
	data-update-variant-disabled-state="{{- is_update_variant_disabled_state | default: false -}}"
	{% render 'c-product-variants-json', item_product: product -%}
>
	{%- if product.has_only_default_variant == false -%}
		<div class="c-product-form__variants">
			{% render 'c-item-variants',
				item: selected_variant,
				is_show_selected_variant_in_label: true,
				is_variant_pills: true
			%}
		</div>
	{%- endif -%}

	{%- if product.selling_plan_groups[0] -%}
		<div class="c-product-form__selling-plan">
			{%- render 'c-item-selling-plan',
				item: selected_variant,
				is_default_to_subscription: is_default_to_subscription,
				is_hide_subscription_price: false,
				is_hide_one_time: false,
				is_hide_one_time_price: false,
				is_hide_price_adj_label: false,
				is_hide_frequency_label: false,
				subscription_info: subscription_info,
				one_time_info: one_time_info,
				is_selling_plan_content_collapsible: is_selling_plan_content_collapsible
			-%}
		</div>
	{%- endif -%}

	{% comment %}
		<div class="c-product-form__price t-l-1">
			{%- render 'c-item-price',
				item: selected_variant,
				regular_price_adj: subscription_price_adj_perc
			-%}
		</div>
	{% endcomment %}

	{%- if has_quantity_selector == true -%}
		<div class="c-product-form__quantity">
			{%- render 'c-item-quantity', item: selected_variant -%}
		</div>
	{%- endif -%}

	<input
		type="hidden"
		name="id"
		value="{{ selected_variant.id }}"
	>

	<button
		class="c-product-form__cta btn js-form-submit"
		type="submit"
		{%- if selected_variant.available == false %}
			disabled
		{%- endif -%}
	>
		<span class="form-state-available">Add to Cart</span>
		<span class="form-state-sold-out">Sold Out</span>
	</button>

	{%- if product.gift_card? and template.name == 'product' -%}
		{%- render 'c-gift-card-recipient-form' -%}
	{%- endif -%}
</form>
