<!doctype html>
{% include 'html-page-variables' %}
<html class="{{ html_class }}" lang="{{ page_isocode }}">
	<head>
		<meta
			http-equiv="Content-Type"
			charset="UTF-8"
			content="text/html;charset=utf-8"
		>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes"
		>
		<meta name="theme-color" content="#fffaf1">
		<link rel="canonical" href="{{ canonical_url }}">
		<link rel="icon" type="image/png" href="{{ 'favicon.png' | asset_url }}">

		{% comment %} preload assets {% endcomment %}
		<link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
		{{ 'preload.min.css' | asset_url | preload_tag: as: 'style' }}
		{{ '__preload.min.js' | asset_url | preload_tag: as: 'script' }}
		{{ '__preload-plugins.js' | asset_url | preload_tag: as: 'script' }}
		{{ '__preload-defer.min.js' | asset_url | preload_tag: as: 'script' }}
		{% comment %}
			Preload font files
			<link rel="preload" href="{{ 'font-fontname-regular.woff2' | asset_url }}" as="font" type="font/woff2">
		{% endcomment %}
		{%- if request.page_type == 'product' -%}
			<link
			  rel="preload"
			  as="image"
			  href="{{ product.media[0] | image_url: width: 420 }}"
			  fetchpriority="high"
			>
			
			<link
			  rel="preload"
			  as="image"
			  href="{{ product.media[0] | image_url: width: 675 }}"
			  fetchpriority="high"
			>
		{%- endif -%}

		{%- if request.page_type == 'index' -%}
			<link
			  rel="preload"
			  as="image"
			  href="{{ settings.background_image_mobile | image_url: width: 390 }}"
			  fetchpriority="high"
			>
			
			<link
			  rel="preload"
			  as="image"
			  href="{{ settings.background_image | image_url: width: 1350 }}"
			  fetchpriority="high"
			>
		{%- endif -%}

		<style>
			@media (max-width: 600px) {
				:root {
					--s-header: 79px;
					--s-announcement: 56px;
				}
			}

			@media (min-width: 1025px) {
				:root {
					--s-header: 100px;
					--s-announcement: 41px;
				}
			}
		</style>
		{{ 'preload.min.css' | asset_url | stylesheet_tag }}
		<link rel="preload" href="{{ 'fonts.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    	<noscript><link rel="stylesheet" href="{{ 'main.min.css' | asset_url }}"></noscript>
		<link rel="preload" href="{{ 'main.min.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    	<noscript><link rel="stylesheet" href="{{ 'fonts.css' | asset_url }}"></noscript>
		<link rel="preload" href="{{ 'custom.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    	<noscript><link rel="stylesheet" href="{{ 'custom.css' | asset_url }}"></noscript>
		<script src="{{ '__preload.min.js' | asset_url }}" defer></script>
		<script src="{{ '__preload-defer.min.js' | asset_url }}" defer></script>

		{{ content_for_header }}
		{%- render 'html-page-sharing' -%}

		<script>
			// site variables
			const siteUrl = '{{ shop.url }}';
			const currencyCount = {{ shop.enabled_currencies | size }};
			const siteMoneyFormat = currencyCount > 1 ? "{{ shop.money_with_currency_format }}" : "{{ shop.money_format }}";
		</script>

	</head>

	<body class="template-{{ template.name }}{% if template.suffix %} template-{{ template.name }}-{{ template.suffix }} {% endif %}{% if page %} page-{{ page.handle | handleize }}{% endif %}{% if request.path == shop.shipping_policy.url %} template-shipping-policy{% endif %}">
		<div class="is-hidden">
			{%- for info in metaobjects.information.values -%}
				{%- render 'c-tooltip',
					label: info.title,
					content: info.information,
					hover_color: 'var(--cr-cream)',
					position: 'bottom'
				-%}
			{%- endfor -%}
		</div>

		{%- render 'g-ada-skip' -%}
		{%- section 'g-announcement' -%}
		{%- section 'g-header' -%}
		{%- section 'g-minicart' -%}
		<main id="main">{{ content_for_layout }}</main>
		{%- section 'g-footer' -%}

		{%- if template == 'customers/account' -%}
			{%- render 'c-account-address-form' -%}
		{%- endif -%}

		<!-- Hidden templates for the accordions -->
		<div id="template-accordion" style="display: none;">
			{% render 'c-accordion', isCloseSiblings: true %}
		</div>

		<button
			type="button"
			class="g-overlay js-g-overlay"
			aria-label="Close overlay"
			aria-hidden="true"
			tabindex="-1"
		></button>

		<div
			class="g-popup f-v f-a-c js-g-popup"
			aria-hidden="true"
			tabindex="-1"
		></div>
		<script>
			// Conditionally render vimeo & youtube scripts
			if (document.querySelector('.js-external-video')) {
				// Render Vimeo script
				const vimeoScript = document.createElement('script');
				vimeoScript.src = "{{ 'js-plugin-vimeo.js' | asset_url }}";
				vimeoScript.async = true;
				document.body.appendChild(vimeoScript);

				// Render YouTube script
				const youtubeScript = document.createElement('script');
				youtubeScript.src = "{{ 'js-plugin-youtube.js' | asset_url }}";
				youtubeScript.async = true;
				document.body.appendChild(youtubeScript);
			}
		</script>
		<script src="{{ '__preload-plugins.js' | asset_url }}" defer></script>
		<script
			src="{{ 'js-plugin-infinite-scroll.js' | asset_url }}"
			defer
		></script>
		<script src="{{ 'js-plugin-embla.js' | asset_url }}" defer></script>

		<script>
			!(function (t, e, n, a) {
				if (!t[n]) {
					var c,
						r,
						i = [];
					(r =
						'PROD' !== a && a
							? 'STAGING' === a
								? 'https://cdn.gladly.qa/gladly/chat-sdk/widget.js'
								: a
							: 'https://cdn.gladly.com/chat-sdk/widget.js'),
						(t[n] = {
							init: function () {
								c = arguments;
								var t = {
									then: function (e) {
										return i.push({ type: 't', next: e }), t;
									},
									catch: function (e) {
										return i.push({ type: 'c', next: e }), t;
									},
								};
								return t;
							},
						}),
						(t.__onHelpAppHostReady__ = function (e) {
							if (
								(delete t.__onHelpAppHostReady__, ((t[n] = e).loaderCdn = r), c)
							)
								for (var a = e.init.apply(e, c), p = 0; p < i.length; p++) {
									var d = i[p];
									a = 't' === d.type ? a.then(d.next) : a.catch(d.next);
								}
						}),
						(function () {
							try {
								var t = e.getElementsByTagName('script')[0],
									n = e.createElement('script');
								(n.async = !0),
									(n.src = r + '?q=' + new Date().getTime()),
									t.parentNode.insertBefore(n, t);
							} catch (a) {}
						})();
				}
			})(window, document, 'Gladly', 'PROD');
		</script>
		<script src="{{ 'js-shopify.min.js' | asset_url }}" defer></script>
		<script src="{{ 'js-main.min.js' | asset_url }}" defer></script>

		{%- unless template.name == 'product' -%}
			<script>
				document.addEventListener('DOMContentLoaded', () => {
				const forms = document.querySelectorAll('product-form form, form[action="/cart/add"]');
				if (!forms.length) return;

				forms.forEach((form) => {
					form.addEventListener('submit', (e) => {
					e.preventDefault();
					
					const codeInput = form.querySelector('input[name="code"]');
					const discountCode = codeInput ? codeInput.value : '';

					fetch('/cart/add.js', { method: 'POST', body: new FormData(form) })
						.then(res => res.json())
						.then(() => {
						window.location.href = `/discount/${encodeURIComponent(discountCode)}?redirect=/checkout`;
						})
						.catch(() => form.submit()); // fallback
					});
				});
				});
			</script>
		{%- endunless -%}

		{% comment %}
			{% unless template == 'index' %}
				<button id="custom-gladly-chat-button" class="js-gladly-trigger">
					Chat with Amplifye
				</button>
			{% endunless %}
		{% endcomment %}

		{% comment %} <button
			type="button"
			id="custom-gladly-chat-button"
			class="js-gladly-trigger"
		>
			<span class="screen-reader-only">Chat with us</span>
		</button> {% endcomment %}

	</body>
</html>
