{% schema %}
{
	"name": "Blog Content",
	"tag": "section",
	"class": "blog-content p-x-max",
	"settings": [
		{
			"type": "number",
			"id": "articles_shown_at_once",
			"label": "Articles shown at once",
			"default": 12
		},
		{
			"type": "header",
			"content": "Featured Article"
		},
		{
			"type": "article",
			"id": "main_article",
			"label": "Article"
		},
		{
			"type": "header",
			"content": "Empty blog"
		},
		{
			"type": "textarea",
			"id": "empty_message",
			"label": "Message",
			"default": "There are currently no articles."
		},
		{
			"type": "text",
			"id": "empty_cta_label",
			"label": "CTA Label",
			"default": "Back to home"
		},
		{
			"type": "url",
			"id": "empty_cta_url",
			"label": "CTA URL",
			"default": "/"
		},
		{
			"type": "header",
			"content": "Pagination"
		},
		{
			"type": "checkbox",
			"id": "is_infinite_scroll",
			"label": "Infinite Scroll"
		},
		{
			"type": "text",
			"id": "infinite_btn_message",
			"label": "Load More Button Label",
			"default": "View More"
		},
		{
			"type": "text",
			"id": "infinite_end_message",
			"label": "Complete message",
			"default": "You’ve reached the end"
		}
	],
	"blocks": [
		{
			"type": "featured_article",
			"name": "Featured Article",
			"settings": [
				{
					"type": "article",
					"id": "featured_article",
					"label": "Featured Article"
				}
			]
		}
	]
}
{% endschema %}

{%- liquid
	if current_tags
		# category filtered
		assign featured_article_count = 0
	else
		# all
		assign main_article = section.settings.main_article
		assign featured_articles = section.blocks
		assign featured_articles__array = ''
		assign featured_article_count = 0
	endif

	assign articles_shown_at_once = section.settings.articles_shown_at_once
	assign empty_message = section.settings.empty_message
	assign empty_cta_label = section.settings.empty_cta_label
	assign empty_cta_url = section.settings.empty_cta_url
	assign is_infinite_scroll = section.settings.is_infinite_scroll
	assign infinite_btn_message = section.settings.infinite_btn_message
	assign infinite_end_message = section.settings.infinite_end_message
-%}

<div class="blog-content__empty wysiwyg f-v f-a-c">
	{%- if blog.articles_count == 0 -%}
		<p>{{- empty_message | default: 'There are currently no articles.' -}}</p>

		{%- if empty_cta_label != blank and empty_cta_url != blank -%}
			<a
				class="btn"
				href="{{- empty_cta_url -}}"
			>
				{{- empty_cta_label -}}
			</a>
		{%- endif -%}
	{%- endif -%}
</div>

{% if main_article != blank %}
	{% assign featured_article_count = featured_article_count | plus: 1 %}
	<div class="blog-content__main-article">
		{% render 'c-article-card', article: main_article, layout: 'large' %}
	</div>
{% endif %}

<div class="blog-content__articles-split f-h f-a-s">
	{% if featured_articles.size > 0 %}
		<div class="blog-content__articles-split__featured f-v">
			<div class="sticky-scroll-track"></div>
			<div class="blog-content__articles-split__featured__interior f-v">
				{%- for featured_article in featured_articles -%}
					{%- unless featured_article.settings.featured_article.id
							== main_article.id
					-%}
						{%- render 'c-article-card',
							article: featured_article.settings.featured_article,
							layout: 'medium'
						-%}
						{%- assign featured_article_count = featured_article_count
							| plus: 1
						-%}
						{%- assign featured_articles__array = featured_articles__array
							| append: featured_article.settings.featured_article.id
							| append: '###'
						-%}
					{%- endunless -%}
				{%- endfor -%}
			</div>
		</div>
	{% endif %}

	<div
		class="blog-content__articles-split__default js-infinite-scroll"
		data-infinite-scroll-id="{{- blog.handle -}}"
	>
		{%- assign paginate_count = articles_shown_at_once -%}

		{% paginate blog.articles by paginate_count %}
			<section class="blog-content__articles-grid g {% if is_infinite_scroll -%} js-infinite-scroll-grid-{{- blog.handle }} {%- endif -%}">
				{%- for article in blog.articles -%}
					{% unless article.id == main_article.id %}
						{% unless featured_articles__array contains article.id %}
							{% assign class = 'js-infinite-scroll-item-'
								| append: blog.handle
							%}
							{%- render 'c-article-card',
								article: article,
								class: class,
								layout: 'small'
							-%}
						{% endunless %}
					{% endunless %}
				{%- endfor -%}
			</section>
			<div class="blog-content__articles-grid__pagination f-h f-a-c f-j-c">
				{%- if blog.articles_count > paginate_count -%}
					{% render 'c-pagination-footer',
						paginate: paginate,
						type: 'article',
						paginate_count: paginate_count,
						item_count: blog.articles_count,
						next_url: paginate.next.url,
						is_infinite_scroll: is_infinite_scroll,
						infinite_scroll_id: blog.handle,
						infinite_btn_message: infinite_btn_message,
						end_message: infinite_end_message
					%}
				{%- endif -%}
			</div>
		{%- endpaginate -%}
	</div>
</div>
