{% schema %}
{
	"name": "Landing Protein_evolves",
	"tag": "section",
	"class": "frontpage-benefits landing-protein-evolves",
	"settings": [
		{
			"type": "text",
			"id": "subheading",
			"label": "Subheading"
		},
		{
			"type": "textarea",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type": "textarea",
			"id": "paragraph",
			"label": "Paragraph"
		},
		{
			"type": "text",
			"id": "label",
			"label": "Label",
			"default": "Swipe to see the P24 impact"
		},
		{
			"metaobject_type": "protein_evolves",
			"type": "metaobject_list",
			"id": "protein_evolves",
			"label": "Protein evolves"
		},
		{
			"type": "textarea",
			"id": "notes",
			"label": "Benefits Notes"
		}
	]
}
{% endschema %}

<style>
    .landing-protein-evolves .c-accordion.has-image .c-accordion__image::before {
        display: none
    }
	.landing-protein-evolves .frontpage-benefits__header {
		align-items: center;
	}

	.landing-protein-evolves .c-header {
		max-width: none;
		text-align: center;
	}

	.landing-protein-evolves .c-header .c-header__subheading {
		font-family: "GT Pressura Mono";
		font-weight: 400;
		font-style: normal;
		font-size: 18px;
		line-height: 114.99999999999999%;
		letter-spacing: -0.02px;
		text-align: center;
		text-transform: uppercase;
	}

	.landing-protein-evolves .c-header .c-header__heading {
		font-family: "GT Pressura Mono";
		font-weight: 400;
		font-size: 42px;
		line-height: 114.99999999999999%;
		letter-spacing: -0.02px;
	}

	.landing-protein-evolves .frontpage-benefits__blocks {
		justify-content: center;
	}

	.landing-protein-evolves .c-accordion {
		max-width: 255px;
	}

	.landing-protein-evolves .c-accordion .icon-plus {
		width: 30px;
		height: 31px;
	}

	.landing-protein-evolves .c-accordion .icon-plus::before {
		border-top-width: 4px;
	}

	.landing-protein-evolves .c-accordion .icon-plus::after {
		border-bottom-width: 4px;
	}

	@media (max-width: 767.98px) {
		.landing-protein-evolves .c-header .c-header__subheading {
			font-family: Basis Grotesque;
			font-weight: 400;
			font-size: 12px;
			line-height: 140%;
			letter-spacing: 1.2px;
			text-align: center;
			text-transform: uppercase;
			padding: 0 10px;
		}

		.landing-protein-evolves .c-header .c-header__heading {
			font-size: 36px;
			letter-spacing: 0;
		}
	}

	@media (max-width: 600px) {
		.landing-protein-evolves .frontpage-benefits__blocks {
			justify-content: flex-start;
		}
	}
</style>

{%- liquid
	assign subheading = section.settings.subheading
	assign heading = section.settings.heading
	assign paragraph = section.settings.paragraph
	assign label = section.settings.label
	assign protein_evolves = section.settings.protein_evolves
	assign notes = section.settings.notes
-%}

<div class="frontpage-benefits__header p-x-max f-v">
	{%- render 'c-header',
		subheading: subheading,
		heading: heading,
		max_width: 1100
	-%}

	{%- if paragraph != blank -%}
		<p class="frontpage-benefits__paragraph t-b-1">{{ paragraph }}</p>
	{%- endif -%}

	{%- if label != blank -%}
		<p class="frontpage-benefits__label t-b-3 tablet-down-only">{{ label }}</p>
	{%- endif -%}
</div>

{%- if protein_evolves.count > 0 -%}
	<div class="frontpage-benefits__blocks f-h p-x-max scrollbar-custom js-benefits-accordion-container">
		{%- for i in protein_evolves -%}
			{%- liquid
				assign image = i.image
				assign excerpt = i.excerpt
				assign title = i.title
			-%}
			<c-accordion
				class="frontpage-benefits__block c-accordion has-image"
				data-close-sibling="true"
			>
				<button
					type="button"
					class="c-accordion__toggle js-accordion-toggle f-v f-a-s f-j-s"
					data-trigger="{{ title | handle }}"
				>
					{%- if image != null -%}
						<div class="c-accordion__image bg-subtle child-cover">
							{% render 'c-img-srcset', image: image, alt: image.alt %}
						</div>
					{%- endif -%}
					<div class="f-h f-a-st">
						<span class="c-accordion__title t-l-1">
							{{- title -}}
						</span>
						<span class="icon-plus"></span>
					</div>
				</button>
				<div
					class="c-accordion__content js-accordion-content"
					data-target="{{ title | handle }}"
					aria-hidden="true"
				>
					<div class="c-accordion__content-interior t-b-2">
						{{ excerpt | metafield_tag }}
					</div>
				</div>
			</c-accordion>
		{%- endfor -%}
	</div>
{%- endif -%}

{% if notes != blank %}
	<div class="frontpage-benefits__footer w-max">
		{%- render 'c-source',
			source: notes,
			label: 'Disclaimer',
			max_width: 2000
		-%}
	</div>
{% endif %}
