{% schema %}
{
	"name": "Product Hero",
	"tag": "section",
	"class": "product-hero f-h f-j-s",
	"settings": [
		{
			"type": "richtext",
			"label": "Subscription Block Information",
			"id": "subscription_info"
		},
		{
			"type": "richtext",
			"label": "One Time Purchase Block Information",
			"id": "one_time_info"
		},
		{
			"type": "textarea",
			"id": "notes",
			"label": "Benefits Notes"
		}
	]
}
{% endschema %}

{%- render 'product-hero-gallery', product: product -%}

<div class="product-hero__content f-v f-j-s f-a-s">
	<div class="product-hero__header f-v">
		<h1 class="t-h-2">{{ product.title }}</h1>
		{%- if product.metafields.custom.subtitle != blank -%}
			<h2 class="product-hero__subtitle t-l-5">
				{{- product.metafields.custom.subtitle -}}
			</h2>
		{%- endif -%}
		{%- if product.metafields.okendo -%}
			<div class="product-hero__review-inline">
				<div
					data-oke-star-rating
					data-oke-reviews-product-id="shopify-{{ product.id }}"
				>
					{{ product.metafields.okendo.StarRatingSnippet }}
				</div>
				<a href="#reviews" class="p-fill"
					><span class="screen-reader-only">Scroll to reviews</span></a
				>
			</div>
		{%- endif -%}
	</div>
	{%- if product.description != blank -%}
		<div class="product-hero__description wysiwyg">
			{% render '_include_p_tag', content: product.description %}
		</div>
	{%- endif -%}
	<div class="product-hero__form">
		{% render 'c-product-form',
			item: product,
			is_update_variant_url: true,
			is_selling_plan_content_collapsible: true
		%}

		{%- if product.metafields.custom.note -%}
			<p class="product-hero__note t-l-3">
				{{ product.metafields.custom.note }}
			</p>
		{%- endif -%}
	</div>

	<div class="product-hero__accordions">
		{%- capture body_benefits -%}
				{{- product.metafields.custom.benefits
					| metafield_tag
					| replace: '<div class="metafield-rich_text_field"', '<div class="metafield-rich_text_field wysiwyg"'
				-}}
				<div class="product-benefits g-2">
					{%- for i in product.metafields.custom.benefits_icon.value -%}
						<div class="product-benefits__item f-h f-a-c">
							<div class="product-benefits__item__icon">
								{%- if i.icon != null -%}
									<span class="object-contain">
										{% render 'c-img-srcset',
											image: i.icon,
											alt: i.icon.alt
										%}
									</span>
								{%- endif -%}
							</div>
							<div class="product-benefits__item__title t-l-3">{{ i.title }}</div>
						</div>
					{%- endfor -%}
				</div>
				{% if section.settings.notes != blank %}
					<div class="product-benefits__notes">
						{%- render 'c-source',
							source: section.settings.notes,
							label: 'Disclaimer',
							max_width: 2000
						-%}
					</div>
				{% endif %}
			{%- endcapture -%}

		{% render 'c-accordion',
			title: 'Benefits',
			classes: 'is-active',
			content: body_benefits,
			isCloseSiblings: true
		%}

		{% comment %} 	TODO: This should be reviewed {% endcomment %}
		{%- capture body_product_details -%}
				{{- product.metafields.custom.product_details
					| metafield_tag
					| replace: '<div class="metafield-rich_text_field"', '<div class="metafield-rich_text_field wysiwyg"'
				-}}
				<div class="product-product-details g-2">
					{%- for i in product.metafields.custom.product_details_icon.value -%}
						<div class="product-product-details__item f-h f-a-c">
							<div class="product-product-details__item__icon">
								{%- if i.icon != null -%}
									<span class="object-contain">
										{% render 'c-img-srcset',
											image: i.icon,
											alt: i.icon.alt
										%}
									</span>
								{%- endif -%}
							</div>
							<div class="product-product-details__item__title t-l-3">{{ i.title }}</div>
						</div>
					{%- endfor -%}
				</div>
			{%- endcapture -%}

		{% render 'c-accordion',
			title: 'Ingredients',
			content: body_product_details,
			isCloseSiblings: true
		%}
		{% comment %} 	TODO: This should be reviewed {% endcomment %}
		{%- capture body_suggested_use -%}
				{{- product.metafields.custom.body_suggested_use
					| metafield_tag
					| replace: '<div class="metafield-rich_text_field"', '<div class="metafield-rich_text_field wysiwyg"'
				-}}
				<div class="product-suggested-use g-1">
					{%- for i in product.metafields.custom.suggested_use_icon.value -%}
						<div class="product-suggested-use__item f-h f-a-c">
							<div class="product-suggested-use__item__icon">
								{%- if i.icon != null -%}
									<span class="object-contain">
										{% render 'c-img-srcset',
											image: i.icon,
											alt: i.icon.alt
										%}
									</span>
								{%- endif -%}
							</div>
							<div class="product-suggested-use__item__title t-l-3">{{ i.title }}</div>
						</div>
					{%- endfor -%}
				</div>
			{%- endcapture -%}

		{% render 'c-accordion',
			title: 'Suggested Use',
			content: body_suggested_use,
			isCloseSiblings: true
		%}

		{% comment %}
			TODO: This should be removed
			{%- if product.metafields.custom.accordions.value -%}
				{%- for i in product.metafields.custom.accordions.value -%}
					{% assign body = i.body
						| metafield_tag
						| replace: '<div class="metafield-rich_text_field"',
							'<div class="metafield-rich_text_field wysiwyg"'
					%}

					{% render 'c-accordion',
						title: i.title,
						content: body,
						isCloseSiblings: true
					%}
				{%- endfor -%}
			{%- endif -%}
		{% endcomment %}
	</div>

	<a
		href="#faq-section"
		class="product-hero__faq-button btn-underline is-reverse"
		>Jump to All FAQs</a
	>

	{%- if product.metafields.custom.chat_note -%}
		<div class="product-hero__chat-note f-h f-a-c f-j-c bg-cream-dark">
			<p class="product-hero__chat-note__title t-h-4">
				{{ product.metafields.custom.chat_note }}
			</p>
			<button type="button" class="btn-outline js-gladly-trigger">
				<span class="btn-outline__label">Let’s Chat</span>
				{% render 'svg-icons', icon: 'dialog' -%}
			</button>
		</div>
	{%- endif -%}
</div>
